<script type="text/javascript">
  twttr.anywhere(function (T) {
    T.hovercards();
  });
</script>

<script type="text/javascript">
 
  twttr.anywhere(function (T) {
    T.linkifyUsers();
  });
 
</script>
<div id="tbox"></div>
<script type="text/javascript">
 
  twttr.anywhere(function (T) {
    T("#tbox").tweetBox();
  });
 
</script>

<span id="login"></span>
<script type="text/javascript">
 
  twttr.anywhere(function (T) {
    T("#login").connectButton();
  });
 
</script>
@Anywhere was made possible by @ded, @dsa, @todd, @danwrong, @noradio, and the rest of the @twitter team.